.img-rounded {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.height-20 {
    height: 200px;
}

.font-size-clss {
    color: #268415;
    font-size: 25px;

}

.text-green {
    color: #268415;
}

.bold-cls {
    font-weight: 300;
    color: black;
}

.img-about-cls {
    height: 470px;
}

.heigth-cls {
    height: 270px;
}

.text-xl-cls {
    font-size: large;
    color: #ffffffd5;
    padding-top: 20px;
}

.text-justify {
    text-align: justify;
}

.flex-cls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-hover:hover {
    color: #6CE7B4;
}

.absolute-cls {
    position: absolute;
    top: 20px;
    right: -15px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.absolute-cls-1 {
    position: absolute;
    bottom: 200px;
    right: -15px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.absolute-cls-2 {
    position: absolute;
    bottom: 80px;
    right: -15px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.aboslute-txt {
    font-size: x-large;
    font-weight: bold;
    color: #000;
}

.abs-hover:hover {
    transform: translateY(-10px);

    transition: 0.3s ease;
}

.hover-cls-bg:hover {
    background: #6CE7B4;
}

.bg-img {
    background-image: url('../public/images/banner/banner-1.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-footer {
    background-color: #368254;
    background-image: url('../public/images/pattern/texture-1.png');
    background-attachment:scroll ;
    
}

.bg-footer li {
    list-style: none;
    padding: 12px 0px;
}
.footer-icons{
    border: wheat 1px solid;
    padding:  5px;
    color: white;
    font-size: large;
}

.footer-cls{
    border-bottom: white 2px solid;
}
.mx-100{
    margin: auto;
}

.font-weight-cls{
    font-size: x-large;
    font-weight: bolder;
}

.white-line{
    color: #fff;
    opacity: 1;
}
.icon-cls{
    height: 20px;
    width: 20px;
}
.about-bg{
    background-image:url('../public/images/banner/about-banner.jpg');
}



@media screen and (max-width:768px) {
    .mx-100{
    margin: 0px ;
}
}